<div class="container-fluid g-0">

  <div class="spaced-container">

    <div class="analytics-container bg-transparent">

      <div class="col card-dashboard p-4">
        <div class="d-flex justify-content-start align-items-center">
          <nz-avatar [nzSize]="44" class="dollar-avatar me-3" nzIcon="dollar"></nz-avatar>
          <div class="text">
            <h4 class="m-0">$23,523</h4>
            <span class="text-muted">Profit</span>
          </div>
        </div>
      </div>

      <div class="col card-dashboard p-4">
        <div class="d-flex justify-content-start align-items-center">
          <nz-avatar [nzSize]="44" class="line-chart-avatar me-3" nzIcon="line-chart"></nz-avatar>
          <div class="text">
            <h4 class="m-0">+ 17.21%</h4>
            <span class="text-muted">Growth</span>
          </div>
        </div>
      </div>

      <div class="col card-dashboard p-4">
        <div class="d-flex justify-content-start align-items-center">
          <nz-avatar [nzSize]="44" class="profile-avatar me-3" nzIcon="profile"></nz-avatar>
          <div class="text">
            <h4 class="m-0">3,685</h4>
            <span class="text-muted">Orders</span>
          </div>
        </div>
      </div>

      <div class="col card-dashboard p-4">
        <div class="d-flex justify-content-start align-items-center">
          <nz-avatar [nzSize]="44" class="user-avatar me-3" nzIcon="user"></nz-avatar>
          <div class="text">
            <h4 class="m-0">1,832</h4>
            <span class="text-muted">Customers</span>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-8 chart-container">
        <nz-card [nzBordered]="false" nzTitle="Total Revenue" [nzExtra]="radioButtons">
          <div class="revenue-chart-container" style="height:380px;">
            <apx-chart
              [series]="totalRevenueChartOptions.series!"
              [chart]="totalRevenueChartOptions.chart!"
              [xaxis]="totalRevenueChartOptions.xaxis!"
              [yaxis]="totalRevenueChartOptions.yaxis!"
              [colors]="totalRevenueChartOptions.colors!"
              [grid]="totalRevenueChartOptions.grid!"
              [stroke]="totalRevenueChartOptions.stroke!"
            ></apx-chart>
          </div>
        </nz-card>
        <ng-template #radioButtons>
          <nz-radio-group ngModel="month" nzSize="large">
            <label nz-radio-button nzValue="month">Month</label>
            <label nz-radio-button nzValue="year">Year</label>
          </nz-radio-group>
        </ng-template>
      </div>
      <div class="col-lg-4">
        <nz-card [nzBordered]="false" nzTitle="Customers" class="">
          <div class="doughnut-chart-container d-flex justify-content-center">
            <apx-chart
              [series]="customerChartOptions.series!"
              [chart]="customerChartOptions.chart!"
              [colors]="customerChartOptions.colors!"
              [dataLabels]="customerChartOptions.dataLabels!"
              [legend]="customerChartOptions.legend!"
              [labels]="customerChartOptions.labels!"
              [fill]="customerChartOptions.fill!"
              [responsive]="customerChartOptions.responsive!"
            ></apx-chart>
          </div>
          <nz-divider></nz-divider>
          <div class="legends d-flex align-items-center justify-content-evenly">
            <div class="d-flex align-items-center">
              <nz-badge nzColor="#7367f0" class="me-2 mb-3"></nz-badge>
              <div>
                <h5 class="m-0">350</h5>
                <p class="text-muted">New</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <nz-badge nzStatus="processing" class="me-2 mb-3"></nz-badge>
              <div>
                <h5 class="m-0">450</h5>
                <p class="text-muted">Returning</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <nz-badge nzStatus="warning" class="me-2 mb-3"></nz-badge>
              <div>
                <h5 class="m-0">100</h5>
                <p class="text-muted">Others</p>
              </div>
            </div>
          </div>
        </nz-card>
      </div>
    </div>

    <div class="row third-row">
      <div class="col-6 earning-reports">
        <nz-card nzTitle="Earning Reports" >
          <div class="d-flex">
            <div class="col-4 d-flex flex-column justify-content-center">
              <div class="amount d-flex gap-2 align-items-center">
                <h2 class="earning-head m-0 d-flex align-items-center">$468</h2>
                <span><nz-tag class="rounded-pill" nzColor="processing">+ 5.7%</nz-tag></span>
              </div>
              <p class="text-muted">You informed of this week compared to last week</p>
            </div>
            <div class="col-8">
              <apx-chart
              [series]="earningReportChartOptions.series!"
              [chart]="earningReportChartOptions.chart!"
              [legend]="earningReportChartOptions.legend!"
              [responsive]="earningReportChartOptions.responsive!"
              [fill]="earningReportChartOptions.fill!"
              [plotOptions]="earningReportChartOptions.plotOptions!"
              [xaxis]="earningReportChartOptions.xaxis!"
              [yaxis]="earningReportChartOptions.yaxis!"
              [colors]="earningReportChartOptions.colors!"
              [dataLabels]="earningReportChartOptions.dataLabels!"
              [grid]="earningReportChartOptions.grid!"
              ></apx-chart>
            </div>
          </div>
          <div class="d-flex justify-content-center pt-3 pb-3 border rounded">
            <div class="col-4 px-3">
              <p class="fs-5 fw-500 d-flex align-items-center"><span nz-icon nzType="dollar-circle" class="text-success me-2 rounded icon-style" nzTheme="outline"></span> <span>Earnings</span></p>
              <p>$545.69</p>
              <nz-progress [nzPercent]="100" nzSize="small" [nzShowInfo]="false"></nz-progress>
            </div>
            <div class="col-4 px-3">
              <p class="fs-5 fw-500 d-flex align-items-center"><span nz-icon nzType="clock-circle" class="text-primary me-2 rounded icon-style" nzTheme="outline"></span> <span>Profit</span></p>
              <p>$265.34</p>
              <nz-progress [nzPercent]="50" nzSize="small" [nzShowInfo]="false"></nz-progress>
            </div>
            <div class="col-4 px-3">
              <p class="fs-5 fw-500 d-flex align-items-center"><span nz-icon nzType="dollar-circle" class="text-danger me-2 rounded icon-style" nzTheme="outline"></span> <span>Expense</span></p>
              <p>$45.69</p>
              <nz-progress [nzPercent]="20" nzSize="small" nzStatus="exception" [nzShowInfo]="false"></nz-progress>
            </div>
          </div>
        </nz-card>
      </div>
      <div class="col-6">
        <nz-card nzTitle="Support Tracker">
          <div class="d-flex">
            <div class="col-6 py-3">
              <div class="d-flex flex-column">
                <span style="font-size:3vw;">144</span>
                <span class="text-muted">Total Tickets</span>
              </div>
              <div class="d-flex gap-2 align-items-center mt-3">
                <div class="p-2 d-flex align-items-center new-ticktes" style="height: 30px;">
                  <!-- <img src="../../../../assets/Images/ticket.png" height="15" alt=""> -->
                  <span nz-icon nzType="border-outer" nzTheme="outline"></span>
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-bold">New Tickets</span>
                  <span class="text-muted">142</span>
                </div>
              </div>
              <div class="d-flex gap-2 align-items-center mt-3">
                <div class="p-2 d-flex align-items-center open-ticktes" style="height: 30px;">
                  <!-- <img src="../../../../assets/Images/correct.png" height="15" alt=""> -->
                  <span nz-icon nzType="check-circle" nzTheme="outline"></span>
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-bold">Open Tickets</span>
                  <span class="text-muted">28</span>
                </div>
              </div>
              <div class="d-flex gap-2 align-items-center mt-3">
                <div class="p-2 d-flex align-items-center response-ticktes" style="height: 30px;">
                  <!-- <img src="../../../../assets/Images/clock.png" height="15" alt=""> -->
                  <span nz-icon nzType="field-time" nzTheme="outline"></span>
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-bold">Response Time</span>
                  <span class="text-muted">1 Day</span>
                </div>
              </div>
            </div>
            <div class="col-6 align-items-center">
              <apx-chart
                [chart]="supportTrackerChartOptions.chart!"
                [series]="supportTrackerChartOptions.series!"
                [plotOptions]="supportTrackerChartOptions.plotOptions!"
                [fill]="supportTrackerChartOptions.fill!"
                [stroke]="supportTrackerChartOptions.stroke!"
                [colors]="supportTrackerChartOptions.colors!"
              ></apx-chart>
            </div>
          </div>
        </nz-card>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <nz-card [nzBordered]="false" class="h-100 d-flex flex-column justify-content-between" [nzTitle]="titleTem"
          [nzExtra]="profit">
          <div class="average-chart-container">
            <apx-chart
              [series]="averageProfitChartOptions.series!"
              [chart]="averageProfitChartOptions.chart!"
              [legend]="averageProfitChartOptions.legend!"
              [responsive]="averageProfitChartOptions.responsive!"
              [fill]="averageProfitChartOptions.fill!"
              [plotOptions]="averageProfitChartOptions.plotOptions!"
              [xaxis]="averageProfitChartOptions.xaxis!"
              [colors]="averageProfitChartOptions.colors!"
              [dataLabels]="averageProfitChartOptions.dataLabels!"
              [yaxis]="averageProfitChartOptions.yaxis!"
              [grid]="averageProfitChartOptions.grid!"
              [colors]="averageProfitChartOptions.colors!"
              ></apx-chart>
          </div>
        </nz-card>
        <ng-template #profit>
          <div class="d-flex justify-content-between mb-3">
            <span><nz-tag class="rounded-pill" nzColor="processing">+ 5.7%</nz-tag></span>
          </div>
        </ng-template>
        <ng-template #titleTem>
          <h5>$17,267</h5>
          <span class="text-muted">Avg.Profit</span>
          <!-- <span><nz-tag class="rounded-pill" nzColor="processing">+ 5.7%</nz-tag></span> -->
        </ng-template>
      </div>
      <div class="col-lg-8 chart-container">
        <nz-card [nzBordered]="false" nzTitle="Total Revenue" [nzExtra]="viewMoreButton">
          <nz-table #basicTable nzShowPagination="false" [nzData]="listOfData">
            <thead>
              <tr>
                <th>Product</th>
                <th>Sales</th>
                <th>Earning</th>
                <th>Stock Left</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data;;">
                <td class="product d-flex align-items-center">
                  <img src="../../../../assets/Images/{{data.productImg}}.jpg" height="50" alt="">
                  <span>{{data.productName}}</span>
                </td>
                <td>{{data.sales}}</td>
                <td>{{data.earning}}</td>
                <td>
                  <nz-progress [nzPercent]="data.stockLeft"></nz-progress>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-card>
        <ng-template #viewMoreButton>
          <button nz-button nzType="default">View More</button>
        </ng-template>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <nz-card [nzTitle]="salesByCountryTitle">
          <div class="d-flex justify-content-between" *ngFor="let item of localData.salesByCountries">
            <div class="d-flex gap-3">
              <img src="../../../../assets/Images/{{item.flag}}.png" height="30" alt="">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="m-0">{{item.money}}</h6>
                <p class="text-muted">{{item.country}}</p>
              </div>
            </div>
            <div class="d-flex align-items-center fw-medium">
              <span nz-icon nzType="down" nzTheme="outline" *ngIf="item.direction === 'down'" class="text-danger" ></span>
              <span nz-icon nzType="up" nzTheme="outline" *ngIf="item.direction === 'up'" class="text-success" ></span>
              <p class="m-0" [ngClass]="item.direction === 'up' ? 'text-success':'text-danger'">{{item.percentage}}</p>
            </div>
          </div>
        </nz-card>
        <ng-template #salesByCountryTitle>
          <h3>Sales by Countries</h3>
          <p class="text-muted">Monthly Sales Overview</p>
        </ng-template>

      </div>
      <div class="col-4">
        <nz-card nzTitle="Total Earning">
          <div class="d-flex align-items-center gap-3">
            <p class="fs-1 m-0">87%</p>
            <p class="text-success m-0 fw-medium"><span nz-icon nzType="up" nzTheme="outline"></span><span>25.8%</span></p>
          </div>
          <div>
            <apx-chart
              [chart]="totalEarningChartOptions.chart!"
              [series]="totalEarningChartOptions.series!"
              [xaxis]="totalEarningChartOptions.xaxis!"
              [yaxis]="totalEarningChartOptions.yaxis!"
              [plotOptions]="totalEarningChartOptions.plotOptions!"
              [dataLabels]="totalEarningChartOptions.dataLabels!"
              [legend]="totalEarningChartOptions.legend!"
              [grid]="totalEarningChartOptions.grid!"
              [tooltip]="totalEarningChartOptions.tooltip!"
            ></apx-chart>
          </div>
          <div>
            <div class="d-flex justify-content-between">
              <div class="d-flex gap-2 align-items-center">
                <p class="icon"><span nz-icon nzType="dollar" nzTheme="outline"></span></p>
                <p class="fw-medium">Total Sales</p>
              </div>
              <p class="text-success fw-medium">+$98</p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex gap-2 align-items-center">
                <p class="icon"><span nz-icon nzType="check-circle" nzTheme="outline"></span></p>
                <p class="fw-medium">Total Revenue</p>
              </div>
              <p class="text-success fw-medium">+$126</p>
            </div>
          </div>
        </nz-card>
      </div>
      <div class="col-4">
        <nz-card [nzTitle]="MonthlyCampaignStateTitle">
          <div class="d-flex justify-content-between mb-3" *ngFor="let item of localData.monthlyCampaignState">
            <div class="d-flex gap-2 align-items-center montly-campaigns">
              <div class="image">
                <img src="../../../../assets/Images/{{item.icon}}.png" height="10" alt="">
              </div>
              <p class="fw-400 fs-14 m-0">{{item.name}}</p>
            </div>
            <div class="d-flex gap-2 align-items-center">
              <p>{{item.number}}</p>
              <p class="text-success">{{item.percentage}}</p>
            </div>
          </div>
        </nz-card>
        <ng-template #MonthlyCampaignStateTitle>
          <h4>Monthly Campaign State</h4>
          <p class="text-muted">8.52k Social Visitors</p>
        </ng-template>
      </div>
    </div>

    <div class="row">
      <div class="uploads col-4">
        <nz-card nzTitle="Latest Upload" [nzExtra]="uploadsExtraTemplate" class="">
          <ul class="upload-list">
            <li class="d-flex justify-content-between" *ngFor="let item of latestUpload">
              <div class="file d-flex">
                <div class="file-icon mb-3 me-2">
                  <span nz-icon nzType="file-pdf" class="pdf-file" nzTheme="outline"
                    *ngIf="item.extension === 'pdf'"></span>
                  <span nz-icon nzType="file-word" class="doc-file" nzTheme="outline"
                    *ngIf="item.extension === 'doc'"></span>
                  <span nz-icon nzType="file-excel" class="xls-file" nzTheme="outline"
                    *ngIf="item.extension === 'xls'"></span>
                  <span nz-icon nzType="file-text" class="txt-file" nzTheme="outline"
                    *ngIf="item.extension === 'txt'"></span>
                  <span nz-icon nzType="file-ppt" class="ppt-file" nzTheme="outline"
                    *ngIf="item.extension === 'ppt'"></span>
                </div>
                <div class="file-detail">
                  <h6 class="m-0">{{item.fileName}}</h6>
                  <p class="text-muted">{{item.fileSize}}</p>
                </div>
              </div>
              <div class="dropdown">
                <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                  <span nz-icon nzType="more" nzTheme="outline"></span>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item>
                      <span nz-icon nzType="eye" class="me-2" nzTheme="outline"></span>
                      <span class="me-2">View</span>
                    </li>
                    <li nz-menu-item>
                      <span nz-icon nzType="download" class="me-2" nzTheme="outline"></span>
                      <span class="me-2">Download</span>
                    </li>
                    <li nz-menu-item>
                      <span nz-icon nzType="delete" class="me-2" nzTheme="outline"></span>
                      <span class="me-2">Remove</span>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </li>
          </ul>
        </nz-card>
        <ng-template #uploadsExtraTemplate>
          <button nz-button nzType="default">View all</button>
        </ng-template>
      </div>
      <div class="activity col-4">
        <nz-card nzTitle="Activity" [nzExtra]="activityTemplate">
          <div class="timeline p-3">
            <nz-timeline [nzReverse]="true">
              <nz-timeline-item nzPosition="left" *ngFor="let item of activity" [nzColor]="'blue'"
                [nzDot]="dotTemplate">
                <h6 class="m-0">{{item.name}}</h6>
                <p class="text-muted">
                  <span class="fw-bold me-1">{{item.activity}}</span>
                  <span>{{item.aboutActivity}}</span>
                </p>
                <p class="text-muted d-flex align-items-baseline" *ngIf="item.time">
                  <span nz-icon nzType="clock-circle" nzTheme="outline" class="me-1"></span>
                  <span>{{item.time}}</span>
                </p>
                <ng-template #dotTemplate>
                  <div class="rounded-circle text-white timeline-dot p-2"
                    [ngStyle]="{'background-color':item.dotColor}">{{item.name.substring(0,1)}}</div>
                </ng-template>
              </nz-timeline-item>
            </nz-timeline>
          </div>
        </nz-card>
        <ng-template #activityTemplate>
          <button nz-button nzType="default">View all</button>
        </ng-template>
      </div>
      <div class="task col-4">
        <nz-card nzTitle="Task" class="">
          <nz-tabset [nzSize]="'large'" nzCentered [nzTabBarGutter]="50">
            <nz-tab nzTitle="Today">
              <div class="list pt-2">
                <div class="d-flex align-items-center" *ngFor="let task of today">
                  <label nz-checkbox nzValue="A" class="me-3"></label>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="m-0 pb-2">{{task.head}}</h6>
                    <p class="text-muted m-0">{{task.detail}}</p>
                  </div>
                </div>
              </div>
            </nz-tab>
            <nz-tab nzTitle="Week">
              <div class="list pt-2">
                <div class="d-flex align-items-center" *ngFor="let task of week">
                  <label nz-checkbox nzValue="A" class="me-3"></label>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="m-0 pb-2">{{task.head}}</h6>
                    <p class="text-muted m-0">{{task.detail}}</p>
                  </div>
                </div>
              </div>
            </nz-tab>
            <nz-tab nzTitle="Month">
              <div class="list pt-2">
                <div class="d-flex align-items-center" *ngFor="let task of month">
                  <label nz-checkbox nzValue="A" class="me-3"></label>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="m-0 pb-2">{{task.head}}</h6>
                    <p class="text-muted m-0">{{task.detail}}</p>
                  </div>
                </div>
              </div>
            </nz-tab>
          </nz-tabset>
        </nz-card>
      </div>
    </div>

  </div>

</div>

