<div class="container-fluid g-0">

  <div class="spaced-container">

    <div class="analytics-container bg-transparent">

      <div class="col card-dashboard p-4">
        <div class="d-flex justify-content-start align-items-center">
          <nz-avatar [nzSize]="64" class="dollar-avatar me-3" nzIcon="dollar"></nz-avatar>
          <div class="text">
            <h4 class="m-0">$23,523</h4>
            <span class="text-muted">Profit</span>
          </div>
        </div>
      </div>

      <div class="col card-dashboard p-4">
        <div class="d-flex justify-content-start align-items-center">
          <nz-avatar [nzSize]="64" class="line-chart-avatar me-3" nzIcon="line-chart"></nz-avatar>
          <div class="text">
            <h4 class="m-0">+ 17.21%</h4>
            <span class="text-muted">Growth</span>
          </div>
        </div>
      </div>

      <div class="col card-dashboard p-4">
        <div class="d-flex justify-content-start align-items-center">
          <nz-avatar [nzSize]="64" class="profile-avatar me-3" nzIcon="profile"></nz-avatar>
          <div class="text">
            <h4 class="m-0">3,685</h4>
            <span class="text-muted">Orders</span>
          </div>
        </div>
      </div>

      <div class="col card-dashboard p-4">
        <div class="d-flex justify-content-start align-items-center">
          <nz-avatar [nzSize]="64" class="user-avatar me-3" nzIcon="user"></nz-avatar>
          <div class="text">
            <h4 class="m-0">1,832</h4>
            <span class="text-muted">Customers</span>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-8 chart-container">
        <nz-card [nzBordered]="false" nzTitle="Total Revenue" [nzExtra]="radioButtons">
          <div class="revenue-chart-container">
            <canvas #revenueChart></canvas>
          </div>
        </nz-card>
        <ng-template #radioButtons>
          <nz-radio-group ngModel="month" nzSize="large">
            <label nz-radio-button nzValue="month">Month</label>
            <label nz-radio-button nzValue="year">Year</label>
          </nz-radio-group>
        </ng-template>
      </div>
      <div class="col-lg-4 chart-container">
        <nz-card [nzBordered]="false" nzTitle="Customers" class="h-100 d-flex flex-column justify-content-between">
          <div class="doughnut-chart-container d-flex justify-content-center">
            <canvas #customerChart></canvas>
          </div>
          <nz-divider></nz-divider>
          <div class="legends d-flex align-items-center justify-content-evenly">
            <div class="d-flex align-items-center">
              <nz-badge nzStatus="success"></nz-badge>
              <div>
                <h4 class="m-0">350</h4>
                <p class="text-muted">New</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <nz-badge nzStatus="processing"></nz-badge>
              <div>
                <h4 class="m-0">450</h4>
                <p class="text-muted">Returning</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <nz-badge nzStatus="warning"></nz-badge>
              <div>
                <h4 class="m-0">100</h4>
                <p class="text-muted">Others</p>
              </div>
            </div>
          </div>
        </nz-card>
      </div>
    </div>

    <div class="row third-row">
      <div class="col-lg-4">
        <nz-card [nzBordered]="false" class="h-100 d-flex flex-column justify-content-between" [nzTitle]="titleTem" [nzExtra]="profit">
          <!-- d-flex flex-column justify-content-between -->

          <div class="average-chart-container">
            <canvas #averageProfitChart height="400"></canvas>
          </div>
        </nz-card>
        <ng-template #profit>
          <div class="d-flex justify-content-between mb-3">
            <span><nz-tag class="rounded-pill" nzColor="processing">+ 5.7%</nz-tag></span>
          </div>
        </ng-template>
        <ng-template #titleTem>
              <h5>$17,267</h5>
              <span class="text-muted">Avg.Profit</span>
            <!-- <span><nz-tag class="rounded-pill" nzColor="processing">+ 5.7%</nz-tag></span> -->
        </ng-template>
      </div>
      <div class="col-lg-8 chart-container">
        <nz-card [nzBordered]="false" nzTitle="Total Revenue" [nzExtra]="viewMoreButton" class="h-100">
          <nz-table #basicTable nzShowPagination="false" [nzData]="listOfData">
            <thead>
              <tr>
                <th>Product</th>
                <th>Sales</th>
                <th>Earning</th>
                <th>Stock Left</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data;;">
                <td class="product d-flex align-items-center">
                  <img src="../../../../assets/Images/{{data.productImg}}.jpg" height="50" alt="">
                  <span>{{data.productName}}</span>
                </td>
                <td>{{data.sales}}</td>
                <td>{{data.earning}}</td>
                <td>
                  <nz-progress [nzPercent]="data.stockLeft"></nz-progress>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-card>
        <ng-template #viewMoreButton>
          <button nz-button nzType="default">View More</button>
        </ng-template>
      </div>
    </div>

    <div class="row">
      <div class="uploads col-4">
        <nz-card nzTitle="Latest Upload" [nzExtra]="uploadsExtraTemplate" class="h-100">
          <ul class="upload-list">
            <li class="d-flex justify-content-between" *ngFor="let item of latestUpload">
              <div class="file d-flex">
                <div class="file-icon mb-3 me-2">
                  <span nz-icon nzType="file-pdf" class="pdf-file" nzTheme="outline" *ngIf="item.extension === 'pdf'"></span>
                  <span nz-icon nzType="file-word" class="doc-file" nzTheme="outline" *ngIf="item.extension === 'doc'"></span>
                  <span nz-icon nzType="file-excel" class="xls-file" nzTheme="outline" *ngIf="item.extension === 'xls'"></span>
                  <span nz-icon nzType="file-text" class="txt-file" nzTheme="outline" *ngIf="item.extension === 'txt'"></span>
                  <span nz-icon nzType="file-ppt" class="ppt-file" nzTheme="outline" *ngIf="item.extension === 'ppt'"></span>
                </div>
                <div class="file-detail">
                  <h6 class="m-0">{{item.fileName}}</h6>
                  <p class="text-muted">{{item.fileSize}}</p>
                </div>
              </div>
              <div class="dropdown">
                <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                  <span nz-icon nzType="more" nzTheme="outline"></span>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item>
                      <span nz-icon nzType="eye" class="me-2" nzTheme="outline"></span>
                      <span class="me-2">View</span>
                    </li>
                    <li nz-menu-item>
                      <span nz-icon nzType="download" class="me-2" nzTheme="outline"></span>
                      <span class="me-2">Download</span>
                    </li>
                    <li nz-menu-item>
                      <span nz-icon nzType="delete" class="me-2" nzTheme="outline"></span>
                      <span class="me-2">Remove</span>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </li>
          </ul>
        </nz-card>
        <ng-template #uploadsExtraTemplate>
          <button nz-button nzType="default">View all</button>
        </ng-template>
      </div>
      <div class="activity col-4">
        <nz-card nzTitle="Activity" [nzExtra]="activityTemplate">
          <div class="timeline p-3">
            <nz-timeline [nzReverse]="true">
              <nz-timeline-item nzPosition="left" *ngFor="let item of activity" [nzColor]="'blue'" [nzDot]="dotTemplate">
                <h6 class="m-0">{{item.name}}</h6>
                <p class="text-muted">
                  <span class="fw-bold me-1">{{item.activity}}</span>
                  <span>{{item.aboutActivity}}</span>
                </p>
                <p class="text-muted d-flex align-items-baseline" *ngIf="item.time">
                  <span nz-icon nzType="clock-circle" nzTheme="outline" class="me-1"></span>
                  <span>{{item.time}}</span>
                </p>
                <ng-template #dotTemplate>
                  <div class="rounded-circle text-white timeline-dot p-2" [ngStyle]="{'background-color':item.dotColor}">{{item.name.substring(0,1)}}</div>
                </ng-template>
              </nz-timeline-item>
            </nz-timeline>
          </div>
        </nz-card>
        <ng-template #activityTemplate>
          <button nz-button nzType="default">View all</button>
        </ng-template>
      </div>
      <div class="task col-4">
        <nz-card nzTitle="Task" class="h-100">
          <nz-tabset [nzSize]="'large'" nzCentered [nzTabBarGutter]="50">
            <nz-tab nzTitle="Today">
              <div class="list pt-2">
                <div class="d-flex align-items-center" *ngFor="let task of today">
                  <label nz-checkbox nzValue="A" class="me-3"></label>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="m-0 pb-2">{{task.head}}</h6>
                    <p class="text-muted m-0">{{task.detail}}</p>
                  </div>
                </div>
              </div>
            </nz-tab>
            <nz-tab nzTitle="Week">
              <div class="list pt-2">
                <div class="d-flex align-items-center" *ngFor="let task of week">
                  <label nz-checkbox nzValue="A" class="me-3"></label>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="m-0 pb-2">{{task.head}}</h6>
                    <p class="text-muted m-0">{{task.detail}}</p>
                  </div>
                </div>
              </div>
            </nz-tab>
            <nz-tab nzTitle="Month">
              <div class="list pt-2">
                <div class="d-flex align-items-center" *ngFor="let task of month">
                  <label nz-checkbox nzValue="A" class="me-3"></label>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="m-0 pb-2">{{task.head}}</h6>
                    <p class="text-muted m-0">{{task.detail}}</p>
                  </div>
                </div>
              </div>
            </nz-tab>
          </nz-tabset>
        </nz-card>
      </div>
    </div>

  </div>

</div>
