@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/dark';
@import './base';

@component-background: #001529;

@layout-sider-background: @component-background;
@layout-header-background: @component-background;
@layout-trigger-background: @component-background;
@dropdown-menu-bg: @component-background;

@card-background: #3f87f508;