.wrapper-top {
	padding: 25px 30px;
}
.tabs {
	@extend .wrapper-top;
	padding: 25px 0 !important;
}

:host ::ng-deep.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
	padding: 0 25px;
}

:host ::ng-deep .ant-tabs-top > .ant-tabs-nav {
	margin-bottom: 0;
}

.box .left {
	font-size: 3rem;
}

.dark-blue {
	width: 15px;
	height: 15px;
	background: rgb(76, 78, 105);
}
.gray {
	width: 15px;
	height: 15px;
	background: rgb(134, 134, 134);
}
.gray-blue {
	width: 15px;
	height: 15px;
	background: rgb(132, 152, 199);
}
