.main{
  gap:10px;
}
.content{
  display:grid;
  row-gap: 5vh;
}
nz-avatar{
 display:grid;
 place-items: center;
 height:50px;
 width:50px;

}
[nzIcon="dollar"]{
  background-color:#3f87f5 ;

}
[nzIcon="profile"]{
  background-color:#de4436 ;

}

[nzIcon="bar-chart"]{
  background-color:#ffc107 ;

}
.steps{
  font-display: flex;
  flex-direction: column;
  align-items: center;
}
.text-success{
 color: #00c9a7!important
}
nz-progress {
  margin-bottom: 8px;
  display: inline-block;
}
nz-card{
  height:100%;
}

::ng-deep{
  nz-badge{
    .ant-badge-status-dot{
      height:8px;
      width:8px ;
    }
  }
}

.browsers{
  display:grid;
  gap:4vh;
}
.browser-font{
  font-size: 16px;
  font-weight: 450;

}
