<div class="container-fluid g-0">
	<div class="content">
		<div class="d-flex flex-wrap row gap-3 main analytics-container">
			<div class="box col p-3 bg-white">
				<div class="d-flex justify-content-between align-items-center flex-row">
					<div>
						<p class="m-b-0 text-muted">Net Revenue</p>
						<h3 class="m-b-0">
							<span>$14,966</span>
						</h3>
					</div>
					<nz-avatar nzIcon="dollar"
						class="ant-avatar ant-avatar-blue ant-avatar-circle ant-avatar-icon"></nz-avatar>
				</div>
			</div>
			<div class="box col p-3 bg-white">
				<div class="d-flex justify-content-between align-items-center flex-row">
					<div>
						<p class="m-b-0 text-muted">Bounce Rate</p>
						<h3 class="m-b-0">
							<span>26.80%</span>
						</h3>
					</div>
					<nz-avatar nzIcon="bar-chart"
						class="ant-avatar ant-avatar-blue ant-avatar-circle ant-avatar-icon"></nz-avatar>
				</div>
			</div>
			<div class="box col p-3 bg-white">
				<div class="d-flex justify-content-between align-items-center flex-row">
					<div>
						<p class="m-b-0 text-muted">Orders</p>
						<h3 class="m-b-0">
							<span>3087</span>
						</h3>
					</div>
					<nz-avatar nzIcon="profile"
						class="ant-avatar ant-avatar-blue ant-avatar-circle ant-avatar-icon"></nz-avatar>
				</div>
			</div>
			<div class="box col p-3 bg-white">
				<div class="d-flex justify-content-between align-items-center flex-row">
					<div>
						<p class="m-b-0 text-muted">Total Expense</p>
						<h3 class="m-b-0">
							<span>$746.87</span>
						</h3>
					</div>
					<nz-avatar nzIcon="bar-chart"
						class="ant-avatar ant-avatar-blue ant-avatar-circle ant-avatar-icon"></nz-avatar>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="steps col-lg-3">
				<nz-card [nzBordered]="false">
					<div class="parameter d-flex justify-content-between flex-row mb-3">
						<h6>Overall Rating</h6>
					</div>
					<div class="rating d-flex align-items-center">
						<h3 class="m-0 me-2 font-weight-normal">4.5</h3>
						<div>
							<nz-rate [(ngModel)]="value"></nz-rate>
						</div>
					</div>
					<p class="pb-2">
						<span class="text-success font-weight-bold ">+1.5</span>
						Point from last month
					</p>
					<div class="">
						<canvas id="myChart" #mychart height="260"></canvas>
					</div>
				</nz-card>
			</div>
			<div class="col-6">
				<nz-card [nzBordered]="false">
					<div class="parameter d-flex justify-content-between flex-row mb-3">
						<h6>Total sales</h6>
						<div class="d-flex justify-content-between gap-2">
							<nz-badge nzStatus="processing"></nz-badge>
							<span>
								<p class="text-muted">Revenue</p>
							</span>
							<nz-badge nzStatus="default"></nz-badge>
							<span>
								<p class="text-muted">Margin</p>
							</span>
						</div>
					</div>
					<div>
						<canvas id="myChart2" #mychart2></canvas>
					</div>
				</nz-card>
			</div>
			<div class="col-lg-3">
				<nz-card [nzBordered]="false">
					<div class="parameter d-flex justify-content-between flex-row mb-4">
						<h6>Monthly Targets</h6>
					</div>
					<div class="d-flex justify-content-center align-items-center flex-column gap-5">
						<div>
							<nz-progress [nzPercent]="90" [nzFormat]="formatOne" [nzStrokeWidth]="5" [nzWidth]="150"
								nzType="circle"></nz-progress>
						</div>
						<div class="d-flex justify-content-center">
							<nz-badge nzStatus="processing"></nz-badge>
							<span class="text-muted"> 70% of your Goal</span>
						</div>
					</div>
				</nz-card>
			</div>
		</div>
		<div class="row d-flex flex-wrap ">
			<div class="col-lg-12">
				<nz-card [nzBordered]="false">
					<div class="parameter d-flex justify-content-between flex-row mb-4">
						<h6>Latest Transactions</h6>
						<button nz-button nzType="default">View All</button>
					</div>
					<nz-table #basicTable [nzData]="listOfData" nzShowPagination="false" class="data-table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Customer</th>
								<th>Date</th>
								<th>Amount</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let data of basicTable.data">
								<td>#{{ data.ID }}</td>
								<td>
									<div class="d-flex align-items-center gap-2">
										<img src="../../../../assets/Images/{{ data.productimage }}.jpg" height="45"
											class="rounded-circle" />

										<h6 class="m-l-10 m-b-0">{{ data.Customer }}</h6>
									</div>
								</td>
								<td>{{ data.Date }}</td>
								<td>${{ data.Amount }}</td>
								<td>
									<span *ngIf="data.Status === 'Approved'; else processingBadge">
										<nz-badge nzStatus="success"></nz-badge>
									</span>
									<ng-template #processingBadge>
										<nz-badge nzStatus="processing"></nz-badge>
									</ng-template>
									{{ data.Status }}
								</td>
							</tr>
						</tbody>
					</nz-table>
				</nz-card>
			</div>
		</div>
	</div>
</div>
