<div class="container-fluid g-0 d-flex">
  <div class="col-lg-4 left d-flex flex-column justify-content-between px-5 py-4"></div>
  <div class="col-lg-8 vh-100">
    <div class="form-container w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
        <h2>Sign Up</h2>
        <p>Create your account to get access</p>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="username">Username</nz-form-label>
            <nz-form-control nzErrorTip="The input is not valid username!">
              <input nz-input formControlName="username" placeholder="Username" id="username" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
            <nz-form-control nzErrorTip="The input is not valid E-mail!">
              <input nz-input formControlName="email" placeholder="Email" id="email" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="password" nzRequired>Password</nz-form-label>
            <nz-form-control nzErrorTip="Please input your password!">
              <input nz-input type="password" id="password" formControlName="password"
                (ngModelChange)="updateConfirmValidator()" placeholder="Password" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
              <input nz-input type="password" formControlName="checkPassword" placeholder="Confirm Password"
                id="checkPassword" />
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords that you enter is inconsistent!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <div class="d-flex justify-content-between">
            <nz-form-item nz-row class="register-area">
              <nz-form-control>
                <label nz-checkbox nzSize="large" formControlName="agree">
                  <span>
                    I have read the
                    <a>agreement</a>
                  </span>
                </label>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
              <nz-form-control>
                <button nz-button nzType="primary" nzSize="large" class="rounded-1 fs-5 h-100">Sign Up</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
