/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("./styles/themes/variables.scss");
// @import url("./styles/themes/mixin.less");

* {
	font-family: "Roboto", sans-serif;
	font-style: normal;
}

:root {
	--primary-bg-light: rgb(255, 255, 255);
	--v-theme-on-background: 47, 43, 61;
	--v-shadow-key-umbra-color: 47, 43, 61;
	--v-theme-background: 248, 247, 250;
	--v-theme-surface: 255, 255, 255;

	--primary-bg-dark: rgb(47, 51, 73);
	--primary-bg-dark-shade: #3f87f508;
	--v-global-theme-primary-dark: 115, 103, 240;
	--v-shadow-key-umbra-color-dark: 15, 20, 34;
	--v-theme-background-dark: 37, 41, 60;
	--v-theme-surface-dark: 47, 51, 73;
	--v-theme-on-background-dark: 208, 212, 241;

	--primary-color: rgba(115, 103, 240);
	--border-color: rgba(208, 212, 241);
	--v-theme-perfect-scrollbar-thumb: 74, 80, 114;
	--v-theme-on-surface: 47, 43, 61;
	--v-theme-primary: 115, 103, 240;
	--v-theme-primary-overlay-multiplier: 1;
	--v-theme-on-primary: 255, 255, 255;

	--v-high-emphasis-opacity: 0.78;
	--v-selected-opacity: 0.06;
	--v-theme-overlay-multiplier: 1;

	--v-btn-size: 0.9375rem;
	--v-btn-height: 38px;
}

.fw-700 {
	font-weight: 700;
}

.fw-600 {
	font-weight: 600 !important;
}

.fw-500 {
	font-weight: 500;
}

.fw-400 {
	font-weight: 400;
}

.fs-10 {
	font-size: 10px;
}

.fs-12 {
	font-size: 12px;
}

.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-24 {
	font-size: 24px;
}
.fs-32 {
	font-size: 32px;
}

.lh-16 {
	line-height: 16px;
}

.lh-20 {
	line-height: 20px;
}

.lh-22 {
	line-height: 22px;
}

.lh-24 {
	line-height: 24px;
}

.lh-26 {
	line-height: 26px;
}

.lh-32 {
	line-height: 32px;
}

.text-sm {
	font-size: 0.8125rem;
	line-height: 1.25rem;
}

.text-purple {
	color: var(--primary-color);
}

.menu-links {
	li:not(.ant-menu-submenu) {
		margin: auto 12px !important;
		width: calc(100% - 23px) !important;
		border-radius: 0.4rem;
	}
}

.menu-links .ant-menu-submenu {
	li {
		padding-left: 24px !important;
	}
}
.ant-menu-submenu-selected {
	color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity)) !important;
	font-weight: 500;
	border-radius: 0.4rem;
}
.ant-menu-submenu-selected .ant-menu-submenu-title::before {
	content: "";
	opacity: calc(var(--v-selected-opacity) * var(--v-theme-overlay-multiplier));
	position: absolute;
	background: currentcolor;
	block-size: 100%;
	inline-size: 100%;
	inset: 0;
	pointer-events: none;
	border-radius: 0.4rem;
}

.ant-menu-inline .ant-menu-submenu-title {
	margin: auto 12px !important;
	width: calc(100% - 23px) !important;
	padding-right: 0 !important;
	margin-bottom: 0.2rem !important;
}

.hover-primary:hover {
	cursor: pointer;
	color: #3f87f5;
	background-color: #3f87f51a;
	transition: background-color 0.3s linear;
	border-radius: 4px;
}

body,
.timeline,
.editor,
.notification-menu {
	&::-webkit-scrollbar {
		width: 4px;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-track {
		background: #ffffff;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(var(--v-theme-perfect-scrollbar-thumb));
		border-radius: 4px;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

router-outlet + * {
	display: block;
	animation: fade 1s;
}

.ant-menu-inline > .ant-menu-item {
	// height: 49px !important;
}

.ant-input {
	padding: 0.55rem 1rem !important;
	line-height: 1.5 !important;
	color: #53535f !important;
	height: auto !important;
	border: 1px solid #edf2f9 !important;
	border-radius: 0.25rem !important;
}

.ant-input-affix-wrapper {
	border-radius: 0.25rem !important;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
	background: #fff !important;
	border-color: #ff4d4f !important;
}

.ant-input-focused,
.ant-input:focus {
	border-color: #40a9ff !important;
	box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
	border-right-width: 1px !important;
	outline: 0 !important;
}

.text-muted {
	color: #72849ab3 !important;
}

.text-color-shade-1 {
	color: #53535f;
}

.icon-size-1 {
	font-size: 1.3rem;
}

.ant-dropdown-menu-item-divider {
	background-color: var(--border-color) !important;
	opacity: 0.1 !important;
	height: 0.3px !important;
}

.card-dashboard {
	border-radius: 0.4rem;
}
.ant-btn {
	border-radius: 0.4rem !important;
}
.ant-btn-primary {
	--v-theme-overlay-multiplier: var(--v-theme-primary-overlay-multiplier);
	background-color: rgb(var(--v-theme-primary)) !important;
	color: rgb(var(--v-theme-on-primary)) !important;
	font-size: 0.9375rem;
	min-width: 68px;
	padding: 0 20px;
	border-radius: 0.4rem !important;
	border: none !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
	border-radius: 0.4rem !important;
}

// Dark theme
.dark {
	.menu-sidebar,
	.mainside-logo {
		background: var(--primary-bg-dark) !important;
		box-shadow: 0 2px 6px rgba(var(--v-shadow-key-umbra-color-dark), 0.14), 0 0 transparent, 0 0 transparent;
	}
	.inner-content {
		background: rgba(var(--v-theme-background-dark)) !important;
	}

	.border,
	.border-end,
	.border-start,
	.border-bottom,
	.border-top {
		border-color: rgb(208 212 241 / 15%) !important;
	}

	.card-dashboard {
		background: rgba(var(--v-theme-surface-dark)) !important;
	}

	nz-card,
	.analytics-container > div {
		box-shadow: 0 4px 18px rgba(var(--v-shadow-key-umbra-color-dark), 0.1), 0 0 transparent, 0 0 transparent;
	}

	.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
		background: linear-gradient(72.47deg, rgb(var(--v-global-theme-primary-dark)) 22.16%, rgba(var(--v-global-theme-primary-dark), 0.7) 76.47%) !important;
		box-shadow: 0 2px 6px rgba(var(--v-global-theme-primary-dark), 0.48) !important;
		font-weight: 500;
		color: var(--primary-bg-light) !important;
	}

	.background-class {
		background: rgba(var(--v-theme-surface-dark));
		box-shadow: 0 2px 6px rgba(var(--v-shadow-key-umbra-color-dark), 0.14), 0 0 transparent, 0 0 transparent;
	}

	nz-header {
		background: rgba(var(--v-theme-background-dark)) !important;
		.header-inner {
			-webkit-backdrop-filter: blur(6px);
			backdrop-filter: blur(6px);
			background-color: rgb(var(--v-theme-surface-dark), 0.9);
			box-shadow: 0 2px 6px rgba(var(--v-shadow-key-umbra-color-dark), 0.14), 0 0 transparent, 0 0 transparent;
		}
	}

	.ant-menu-submenu-selected .ant-menu-submenu-title::before {
		content: "";
		opacity: calc(var(--v-selected-opacity) * var(--v-theme-overlay-multiplier));
		position: absolute;
		background: currentcolor;
		color: var(--primary-bg-light);
	}

	.ant-menu-submenu-selected {
		color: rgba(var(--v-theme-on-background-dark), var(--v-high-emphasis-opacity)) !important;
	}

	.ant-menu-sub.ant-menu-inline {
		background: none;
	}

	.text-color-shade-1 {
		color: rgba(var(--primary-bg-light));
	}

	.ant-input {
		color: #bfbfc7 !important;
		border: 1px solid #474849 !important;
	}
}

// Light Theme
.default {
	.menu-links {
		li {
			color: #2f2d3fad;
		}
	}

	.menu-sidebar,
	.mainside-logo {
		background: var(--primary-bg-light) !important;
		// box-shadow: 0 2px 6px rgba(var(--v-shadow-key-umbra-color), 0.14), 0 0 transparent, 0 0 transparent;
	}
	.wrapper-top,
	.tabs .ant-tabs-nav-wrap {
		background: var(--primary-bg-light);
	}
	nz-card,
	.analytics-container > div {
		box-shadow: 0 4px 18px rgba(var(--v-shadow-key-umbra-color), 0.1), 0 0 transparent, 0 0 transparent;
		border-radius: 6px;
	}

	.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
		background: linear-gradient(72.47deg, rgb(var(--v-global-theme-primary-dark)) 22.16%, rgba(var(--v-global-theme-primary-dark), 0.7) 76.47%) !important;
		box-shadow: 0 2px 6px rgba(var(--v-global-theme-primary-dark), 0.48) !important;
		font-weight: 500;
		color: var(--primary-bg-light) !important;
	}

	.ant-menu-sub.ant-menu-inline {
		background: none;
	}

	.ant-menu {
		color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
	}

	.inner-content,
	nz-header {
		background: rgba(var(--v-theme-background)) !important;
		.header-inner {
			-webkit-backdrop-filter: blur(6px);
			backdrop-filter: blur(6px);
			background-color: rgb(var(--v-theme-surface), 0.9);
			box-shadow: 0 2px 6px rgba(var(--v-shadow-key-umbra-color), 0.14), 0 0 transparent, 0 0 transparent;
		}
	}

	.background-class {
		background: rgba(var(--v-theme-surface));
	}

	.card-dashboard {
		background: rgba(var(--v-theme-surface)) !important;
		box-shadow: 0 2px 6px rgba(var(--v-shadow-key-umbra-color), 0.14), 0 0 transparent, 0 0 transparent;
	}

	.ant-input {
		border: 1px solid #cfd4db !important;
	}
}
